{
  "printWidth": 80,
  "tabWidth": 4,
  "semiconlons": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxbrackets": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "insertPragma": false,
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": true,
  "useTabs": false
}
