@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #e7f0ec;
        --card: #fafafa;
        --primary: #ff8087;
        --primary-foreground: #ffc2c5;
        --input-placeholder: #180909;
        --txt: #201b1b;
        --txt-foreground: #7d7676;
        --border: #cdc5d5;
        --black: #000000;
        --white: #ffffff;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    body {
        @apply bg-background text-txt my-0 mx-auto max-w-[375px];
    }

    *,
    *::before,
    *::after {
        @apply border-border box-border;
    }

    section {
        @apply py-0 px-5 mt-14;
    }
}

.font-notoSansKr {
    font-family: var(--font-notoSansKr);
}
